services:
  postgres:
    image: postgres:16
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_USER=api
      - POSTGRES_DB=api
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - go-template

  redis:
    image: ghcr.io/dragonflydb/dragonfly:latest
    ports:
      - 6379:6379
    command: ["--proactor_threads=1", "--default_lua_flags=allow-undeclared-keys"]
    networks:
      - go-template

  minio:
    image: quay.io/minio/minio:latest
    command: server --console-address ":9001" /data
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      - MINIO_ROOT_USER=bongobongo
      - MINIO_ROOT_PASSWORD=bongobongo
      - MINIO_REGION=local
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9000/minio/health/live"]
      interval: 1m30s
      timeout: 20s
      retries: 3
      start_period: 3m
    volumes:
      - minio:/data
    networks:
      - go-template

  init-minio:
    image: quay.io/minio/mc:latest
    depends_on:
      - minio
    networks:
      - go-template
    entrypoint: >
      /bin/sh -c '
      /usr/bin/mc alias set minio http://minio:9000 "bongobongo" "bongobongo";
      /usr/bin/mc mb minio/bongo;
      exit 0;
      '

  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["serve", "--config", "/config/go-template.yaml"]
    ports:
      - 8765:8765
      - 8766:8766
      - 8767:8767
    volumes:
      - ./go-template.yaml:/config/go-template.yaml:ro
    environment:
      - REDIS_ADDR=redis:6379
      - DB_URL=postgres://api:password@postgres:5432/api?sslmode=disable
    networks:
      - go-template
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 1024MB

volumes:
  postgres:
  minio:

networks:
  go-template:
